{% extends 'base.html.twig' %}

{% block body %}Liste des lieux | {{ parent() }}{% endblock %}

{% block title %}
    <h2>Nos Lieux de sortie</h2>
    <div class="lieux_list"
    {% for lieu in lieux %}
        {{ lieu.name }}<br>
{% endblock %}

