{% extends 'base.html.twig' %}

{% block body %}Liste des lieux | {{ parent() }}{% endblock %}

{% block title %}
    <h3>Nos Lieux de sortie</h3>
    <div class="lieux_list"
    {% for lieu in lieux %}
        {{ lieu.name }}<br>
    {% endfor %}
{% endblock %}

