{% extends 'base.html.twig' %}

{% block title %}Mot de Passe oublié | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="mb-0 text-center">Mot de passe oublié</h1>
    <form method="post" class="text-center">
        <label for="email">Email : </label>
        <input type="email" name="email" id="email" required autofocus>

        <input type="submit" value="Envoyer email" class="btn btn-sm btn-primary ">
    </form>
{% endblock %}