{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="mb-0 text-center">Réinitialisation du mot de passe</h1>
    <form method="post" class="text-center">
        <label for="password">Mot de passe : </label>
        <input type="password" name="password" id="password" required>
        <input type="hidden" name="token" value="{{ token }}">

        <input type="submit" value="Sauvegarder" class="btn btn-sm btn-primary ">
    </form>
{% endblock %}