body {
    padding-bottom: 70px;
    background-color: #bec3cc;
}


@media screen and (max-width: 767px){
    #sortiesFilters{
      display: none;
    }
    #clotureSortie,#organisateur,#nbInscrit,#actions,#etatSortie,#inscrit{
        display: none;
    }
}

@media screen and (min-width: 768px){
    #lieuxCache{
        display: none;
    }
}

.tableFixHead          { overflow-y: auto; height: 500px;  }

.tableFixHead thead th { position: sticky; top: 0; border-color: #222222; border-radius: inherit; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#366c9b; color:white; }
tr {
    cursor: pointer;
}

/*label {
    display:inline-block;
    width:150px;
    padding:0 5px 0 0
}*/

.flash{
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.flash-success{
    background-color: green;
    color: white;
}

.icon_action{
    width: 22px;
}

#logoNav{
    width:10%;
}

.bg-couleur-perso, .navbar{
    background-color: #366c9b;
}

.btn-primary{
    background-color: #366c9b;
}


#sortiesFilterss{
    border-color: #222222;
    border-radius: inherit;
    background-color: lightslategray;
    color: #222222;
}

.dark-mode {

    background-color: #090f0f;
    color: white;}

@media (prefers-color-scheme: dark) {
    :root{
    --body-color:white;
    --body-bg:black;
    }
}

fieldset {
    padding-left: 10px;
}







