{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<div id="sortiesFilterss" class="card">
    <fieldset >
    <h3>Ajout d'un nouveau site de rattachement</h3>
    </fieldset>
</div><br>
    {{ form_start(siteForm) }}
    {{ form_widget(siteForm) }}
    <button class="btn btn-primary" type="submit">Valider</button>
    {{ form_end(siteForm) }}

{% endblock %}



