{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h3>Ajout d'un nouveau site de rattachement</h3><br>
    {{ form_start(siteForm) }}
    {{ form_widget(siteForm) }}
    <button class="btn btn-primary" type="submit">Valider</button>
    {{ form_end(siteForm) }}

{% endblock %}



