{% extends 'base.html.twig' %}

{% block title %}Ajouter une Ville |{{ parent() }}{% endblock %}

{% block body %}
<div id="sortiesFilterss" class="card">
    <fieldset >
    <h3>Ajouter une Ville</h3>
    </fieldset>
</div><br>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}

    <button class="btn btn-primary waves-effect waves-light" type ="submit">Ajouter</button>
    {{ form_end(villeForm) }}<br>

    <button class="btn btn-primary waves-effect waves-light" onclick="history.back()">Retour</button>

{% endblock %}



