{% extends 'base.html.twig' %}

{% block title %}Compte désactivé | {{ parent() }}{% endblock %}

{% block body %}
    <h3 class="text-center">Compte désactivé</h3>

         <p class="text-center">Votre compte est désactivé, veuillez contacter l'administrateur (admin@sortir-eni.fr) pour réactiver votre compte.</p>
{% endblock %}
