{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}
    <h3 class="text-center">Ceci est le profil d'un user</h3>

    <div class="card mt-4 text-center card-form " style="width: 25rem;">
        <div class="card-body">
            <p class="card-text">{{ form_start(profileForm) }}
                {{ form_widget(profileForm) }}</p>
            <button class="btn btn-primary" type="submit">Sauvegarder</button>
            <p class="card-text">{{ form_end(profileForm) }}</p>
        </div>
    </div>
{% endblock %}
